//引入主题文件
//Import theme doc
@import "~/assets/theme/light";
@import "~/assets/theme/dark";

//滚动条样式
//Import scroll bar
@import "./scrollbar";

 //全局动画时间
 //Animation for all global pages
 $animete-time: 0.2s;

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


$mainColor: #1B05A1;
$mainTextColor: #5A575C;
$secondaryTextColor: #C6C4C7;


//全局poptip样式
.globalInfoStyle.ivu-tooltip {
    line-height: 1;
    .ivu-tooltip-rel {
        transition: $animete-time linear;
        opacity: 0.2;
        line-height: 1;

        &:hover {
            opacity: 1;
        }

        img {
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }
    }

    .ivu-tooltip-popper {

        &[x-placement="top"] {
            .ivu-tooltip-arrow {
                border-right: 1px solid #1a38f8;
                border-bottom: 1px solid #1a38f8;
            }
        }

        &[x-placement^="bottom"] {
            .ivu-tooltip-arrow {
                border-left: 1px solid #1a38f8;
                border-top: 1px solid #1a38f8;
            }
        }

        &[x-placement="left"] {
            .ivu-tooltip-arrow {
                border-top: 1px solid #1a38f8;
                border-right: 1px solid #1a38f8;
            }
        }

        &[x-placement^="right"] {
            .ivu-tooltip-arrow {
                border-left: 1px solid #1a38f8;
                border-bottom: 1px solid #1a38f8;
            }
        }

        .ivu-tooltip-arrow {
            transform: rotate(45deg);
            width: 10px;
            height: 10px;
            background: white;
            border: none;
        }

        .ivu-tooltip-inner {
            width: 100%;
            background-color: #fff;
            font-family: Gilroy;
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
            color: #5a575c;
            padding: 10px 16px;
            border: 1px solid #1a38f8;
            box-shadow: 0 2px 12px 0 #deddde;
            border-radius: 8px;
            overflow: hidden;
            text-align: left;
            word-break: keep-all;
            white-space: break-spaces;
        }

  
    }
}
